name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - releases/*

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster
        uses: ./

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get storageclass standard

  test-with-custom-wait:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom wait
        uses: ./
        with:
          wait: 120s

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get storageclass standard


  test-with-custom-verbosity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom verbosity
        uses: ./
        with:
          verbosity: 10

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get storageclass standard

  test-with-custom-name:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom name
        uses: ./
        with:
          cluster_name: "custom-name"

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get storageclass standard

  test-with-install-only:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Only install kind without starting a cluster
        uses: ./
        with:
          install_only: true

      - name: Test kind works and there is no cluster started
        run: |
          [[ $(kind get clusters | wc -l) -eq 0 ]]

  test-with-custom-kind-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom name
        uses: ./
        with:
          version: "v0.21.0"

      - name: Test
        run: |
          kind version
          kubectl cluster-info
          kubectl get nodes

  test-with-custom-kubeconfig:
    runs-on: ubuntu-latest
    env:
      KUBECONFIG: "./kubeconfig"
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Create kind cluster with custom kubeconfig
        uses: ./
        with:
          kubeconfig: "${{ env.KUBECONFIG }}"
          cluster_name: "kube-config-test"

      - name: Test
        run: |
          grep "kube-config-test" ${KUBECONFIG}

  test-with-custom-kubectl-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom name
        uses: ./
        with:
          kubectl_version: "v1.29.3"

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get nodes

  test-with-custom-node-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom name
        uses: ./
        with:
          node_image: "kindest/node:v1.24.12"

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get nodes

  test-with-ignore-failed-clean:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - name: Create kind cluster with custom name
        uses: ./
        with:
          kubectl_version: "v1.29.3"
          ignore_failed_clean: true

      - name: Test
        run: |
          kubectl cluster-info
          kubectl get nodes
